body{
    height: 863px;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
table{
    font-family: 'Overpass';
    border-collapse: collapse;
    margin: 0 auto;
    width: 1140px;
    height: 480px;
}
tr{
    border-bottom: 1px solid gray;
}
.last{
    border-bottom: 0;
}
th{
    border-bottom: 1px solid #1c1c1c;
    padding: 24px 0px;
    padding-top: 80px;
    font-weight: 300;
    font-size: 20px;
}
td{
    padding: 24px 0px;
    font-weight: 300;
    font-size: 20px;
}
.left{
    text-align: left;
}
.right{
    text-align: right;
    padding-right: 55px;
}
.check{
    width: 24px;
    position: relative;
    margin:20px auto;
}
input[type=checkbox]{
    display: none;
}
input[type=checkbox]+label{
    cursor: pointer;
}
label::before{
    content: '';
    background: transparent;
    border: 1px solid #c9ccd4;
    border-radius: 8px;
    height: 24px;
    width: 24px;
    margin: 0 auto;
    margin-left: 30px;
    display: inline-block;
    text-align: center;
}
input[type=checkbox]:checked +label:before{
    content:'✔';
    font-size: 18px;
    color: #ffffff;
    background-color: #0ad1bd;
}